openai-whisper==20250625
python-dotenv==1.1.1
opencv-python==4.12.0.88
openai==1.101.0
psutil==7.0.0
fastapi==0.116.1
mediapipe==0.10.14
uvicorn==0.35.0
python-multipart==0.0.20
tf-keras==2.19.0
transformers==4.44.2
torch==2.3.1
safetensors==0.4.4

# Python 3.11.13